<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <!-- llamamos a la funcion de vue -->
    <div id="app">
        <!-- v-model es vuejs -->
        <input v-model="username" type="text" placeholder="name of user">
        <!-- para cuando hace las busquedas -->
        <ol>
            <!-- v-for repo identifica a repos -->
            <li v-for="repo in repos">{{repo}}</li>
        </ol>
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
<script src="app.js"></script>
</html>