@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
/* line 3, ../sass/style.scss */
* {
  margin: 2px;
  padding: 0;
  box-sizing: border-box;
}

/* line 9, ../sass/style.scss */
html {
  font-size: 62.5%;
}

/* line 13, ../sass/style.scss */
body {
  font-family: 'SF Mono','Arial',sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}
/* line 20, ../sass/style.scss */
body button:hover {
  background-color: pink;
  color: purple;
}
